<!-- Footer -->
<footer id='footer'>
    <div class="footer-div">
    <h2>Join us on</h2>
    <ul class="social social-circle">
        <li class="social-links"><a href="https://codema.in/free-software-community-of-india-fsci/" target="_blank"><img width=42px src='{{"img/discussion.png" | absURL }}'></a>Forum</li>
        <li class="social-links"><a href="https://chat.poddery.com/#/room/#fsci:poddery.com" target="_blank"><img width=42px src='{{"img/conversation.png" | absURL}}'></a>Chat</li>
        <li class="social-links"><a href="https://diasp.in/u/poddery" target="_blank"><img src='{{"img/diaspora.png" | absURL}}'></a>Diaspora</li>
        <li class="social-links"><a href="https://lists.fsci.in/postorius/lists/fsci-discuss.lists.fsci.org.in/" target="_blank"><img width=42px src='{{"img/mail.png"|absURL}}'><a>Mail<li>
    </ul>
    <div class="col-md-12 text-center">
        <br>
        <p>Copyheart ❤ All wrongs reversed. <a class="link" href="https://gitlab.com/fsci/fsci.gitlab.io">Improve this site</a>.</p>
    </div>
    <div>
</footer>
