{{define "main"}}
<br>
<section class="page">
    <h1 class="title-center">{{.Title}}</h1>
    <span class="text-center">{{.Content}}</span>
    <div class="member-list">
    {{range .Site.Data.members}}
    <div class="card">
        <img class="member-picture" src='{{.img}}' alt="{{.name}}" />
        <h3>{{.name}}</h3>
        <i>{{.about}}</i>
        <div class="member-contact">
            {{range $c := .contact}}
            <a href="{{$c.website}}" target="_blank" rel="noopener noreferrer">{{$c.website}}</a>
            <a href="{{$c.email}}" target="_blank" rel="noopener noreferrer">{{$c.email}}</a>
            {{end}}
        </div>
    </div>
    {{end}}
    </div>
</section>
{{end}}