{{define "main"}}
<br>
<section class="page">
  <h1 class="title-center">{{.Title}}</h1>
        <!-- List all tags -->
        {{if eq .Kind "taxonomyTerm"}}
          {{range $key, $value := .Data.Terms.Alphabetical}}
            <span class='label'><a style="color: white; text-decoration: none;" href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'>{{ $value.Name }} ({{.Count }})</a></span>
          {{end}}
        {{else}}
          {{ range .Pages}}
            <div class="col-md-4">
              {{if eq .Section "statements"}}
                <well class="well">
                    <h3><a class="link" href="{{.Permalink}}">{{.Title}}</a></h3>
                    <small class="label-dark">{{ .PublishDate.Format "January 2, 2006" }}</small>
                    <p>{{ .Summary }}</p>
                </well>
                {{end}}            
            </div><br>
          {{end}}
        {{end}}
    </div>
</section>
{{end}}
