{{define "main"}}
<section class="page">
  {{if eq .Section "statements"}}
    <h1>{{.Title}}</h1>
    <small><b>Published on: </b>{{ .PublishDate.Format "January 2, 2006" }} | <b>Reading Time:</b> {{.ReadingTime}} min
      <br>
    </small>
    {{range .Params.Tags }}
      <span class='label' style='margin-right:5px'>
        <a style="color: white; text-decoration: none;" href='{{ "tags/" | absURL }}{{.}}'>{{.}}</a>
      </span>
    {{end}}
      <p>Also available in: </p>
    {{ if .IsTranslated }}
	    <nav class="LangNav">
	    {{ range .Translations }}
      <a class="link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
	    {{ end}}
	    </nav>
    {{ end }}
    <hr>
    {{.Content }}
  {{else}}
  <h1 class="title-center">{{.Title}}</h1>
    <hr>
    {{.Content }}
  {{end}}
</section>
{{end}}
